<html><head>
    <title>Sort Visualizer </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="sorting,sort,bubble,selection,quick,merge,visualization,animation">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="language" content="English">
    <meta http-equiv="expires" content="43200">
    <meta name="og:image" content="https://sortvisualizer.com/static/images/og.png">

    <meta property="og:title" content="Sort Visualizer">
    <meta property="og:url" content="https://sortvisualizer.com">

    <meta property="og:image" content="https://sortvisualizer.com/static/images/og.png">
    <meta property="og:image:width" content="540">
    <meta property="og:image:height" content="494">

    <link rel="manifest" href="/static/manifest.json">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="shortcut icon" href="/static/images/favicon.ico">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Jura:wght@600&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Oxygen:wght@300&amp;display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Electrolize&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/static/css/base.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <noscript>JavaScript is required for this website. Please allow JavaScript and refresh the page.</noscript>

    
<meta name="description" content="A visualization of 15+ sorting algorithms, including Quick Sort, Merge Sort, Selection Sort and more!">
<meta name="robots" content="index, follow">
<link rel="stylesheet" type="text/css" href="/static/css/index.css">
<script type="text/javascript" src="/static/js/index.js" defer=""></script>

</head>

<body data-aos-easing="ease" data-aos-duration="1000" data-aos-delay="0">
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script type="text/javascript" src="/static/js/base.js"></script>
    <div class="sidenav" id="sidenav">
        <a href="/" class="sidenav-title no-remove"><i class="material-icons icon">home</i> Home</a>
        <div id="sep" class="no-remove"></div>
        <div class="sidenav-title no-remove"><i class="material-icons icon">sort</i> Sorts</div>
        <div class="sidenav-subtitle no-remove">LOGARITHMIC</div>
        <a href="/quicksort" class="sidenav-element no-remove">Quick Sort</a>
        <a href="/mergesort" class="sidenav-element no-remove">Merge Sort</a>
        <a href="/heapsort" class="sidenav-element no-remove">Heap Sort</a>
        <div class="sidenav-subtitle no-remove">QUADRATIC</div>
        <a href="/bubblesort" class="sidenav-element no-remove">Bubble Sort</a>
        <a href="/selectionsort" class="sidenav-element no-remove">Selection Sort</a>
        <a href="/insertionsort" class="sidenav-element no-remove">Insertion Sort</a>
        <a href="/gnomesort" class="sidenav-element no-remove">Gnome Sort</a>
        <a href="/shakersort" class="sidenav-element no-remove">Shaker Sort</a>
        <a href="/oddevensort" class="sidenav-element no-remove">Odd Even Sort</a>
        <a href="/pancakesort" class="sidenav-element no-remove">Pancake Sort</a>
        <div class="sidenav-subtitle no-remove">WEIRD</div>
        <a href="/bitonicsort" class="sidenav-element no-remove">Bitonic Sort</a>
        <a href="/radixsort" class="sidenav-element no-remove">Radix Sort</a>
        <a href="/shellsort" class="sidenav-element no-remove">Shell Sort</a>
        <a href="/combsort" class="sidenav-element no-remove">Comb Sort</a>
        <a href="/bogosort" class="sidenav-element no-remove">Bogo Sort</a>
        <a href="/stoogesort" class="sidenav-element no-remove">Stooge Sort</a>
        <div class="sidenav-subtitle no-remove">CUSTOM</div>
        <a href="/customsort" class="sidenav-element no-remove" style="margin-bottom: 40px;">Your Sort</a>

    </div>

    <div class="topnav">
        <button class="sidenav-btn topnav-element ripple open" id="sidenav-menu"><i class="material-icons icon">menu</i></button>
        <a href="/" class="topnav-element">SORT VISUALIZER</a>
         
    </div>
    
<div id="header"><span id="first-header">SORT</span><br><span id="second-header">VISUALIZER</span></div>
<div id="cover">
<div id="description-box">
    <h2 style="font-family: 'Electrolize', Courier, monospace;">
        Sorting Algorithms
    </h2>
    <div class="description-content">
        <p>Sorting algorithms are used to sort a data structure according to a specific order relationship, such as numerical order or lexicographical order.</p>
        <p>
            This operation is one of the most important and widespread in computer science.
            For a long time, new methods have been developed to make this procedure faster and faster.
        </p>
        <p>
        There are currently hundreds of different sorting algorithms, each with its own specific characteristics.
        They are classified according to two metrics: space complexity and time complexity.<br><br>
        Those two kinds of complexity are represented with <a href="https://www.programiz.com/dsa/asymptotic-notations#:~:text=Asymptotic%20notations%20are%20the%20mathematical,linear%20i.e.%20the%20best%20case." target="_blank">asymptotic notations</a>, mainly with the symbols O, <span class="symbol">Θ</span>, <span class="symbol">Ω</span>, representing
        respectively the upper bound, the tight bound, and the lower bound of the algorithm's complexity, specifying in brackets an expression in terms of
        <code><var>n</var></code>, the number of the elements of the data structure.<br><br>
        Most of them fall into two categories:
        </p>
        <ul>
            <li>Logarithmic<br>
                The complexity is proportional to the binary logarithm (i.e to the base 2) of <code><var>n</var></code>.<br>
                An example of a logarithmic sorting algorithm is Quick sort, with space and time complexity O<code>(n × log n)</code>.<br><br>
            </li>
            <li>Quadratic<br>
                The complexity is proportional to the square of <code><var>n</var></code>.<br>
                An example of a quadratic sorting algorithm is Bubble sort, with a time complexity of O<code>(n<sup>2</sup>)</code>.<br>
            </li>
        </ul>
        <p>
            Space and time complexity can also be further subdivided into 3 different cases: best case, average case and worst case.
        </p>
        <p>
            Sorting algorithms can be difficult to understand and it's easy to get confused.
            We believe visualizing sorting algorithms can be a great way to better understand their functioning while having fun!
        </p>
        <button id="sort-btn" class="ripple-sort-btn open">SORTS</button>
    </div>
</div>
</div>



    <footer class="footer">
        <div class="footer-container">
            <div class="footer-content" style="margin-left:0;">
                <span class="footer-title" style="font-family: 'Jura', Courier, monospace;">SORT VISUALIZER</span><br>
                &emsp;Daniel Scanu<br>
                &emsp;Tommaso Tovoli<br>
                &emsp;Odd Elof Larsson
            </div>
            <div class="footer-content">
                <span class="footer-title">Contacts:</span><br>
                &emsp;danielscanu45@outlook.it<br>
                &emsp;tovoli.tommaso@gmail.com<br>
                &emsp;larsson.odd@gmail.com
            </div>
            <div class="footer-content">
                <span class="footer-title">Reference:</span><br>
                <a style="display: flex; align-items:center; text-decoration: none; color: #afafaf;" href="https://github.com/Myphz/sortvisualizer" target="_blank">
                    &emsp;<img src="/static/images/Github_icon.png" title="GitHub" alt="github">
                    <span style="padding-left: 5px;">GitHub</span>
                </a>

                <a style="display: flex; align-items:center; text-decoration: none; color: #afafaf;" href="https://en.wikipedia.org/wiki/Sorting_algorithm" target="_blank">
                    &emsp;<img src="/static/images/Wikipedia_icon.png" title="Wikipedia" alt="wikipedia">
                    <span style="padding-left: 5px;">Wikipedia</span>
                </a>
            </div>
        </div>
    </footer>

</body></html>